<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout/default">
<head>
    <title>添加新闻</title>
    <link rel="stylesheet" th:href="@{/admin/plugins/summernote/summernote-bs4.min.css}">
</head>
<body>
    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>更新新闻</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Validation</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-primary">
                            <!-- form start -->
                            <form id="form">
                                <input type="hidden" id="articleId" name="articleId" th:value="${article.articleId}">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="articleTitle">新闻标题</label>
                                        <input type="text" id="articleTitle" name="articleTitle" class="form-control" placeholder="" th:value="${article.articleTitle}">
                                    </div>
                                    <div class="form-group">
                                        <label for="articleDesc">新闻描述</label>
                                        <input type="text" name="articleDesc" id="articleDesc" class="form-control" placeholder="" th:value="${article.articleDesc}">
                                    </div>
                                    <div class="form-group">
                                        <label for="articleContent">新闻内容</label>
                                        <textarea id="articleContent" name="articleContent">
                                        [[${article.articleContent}]]
                                        </textarea>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
</div>
</body>
<th:block layout:fragment="asset">
    <!-- Summernote -->
    <script th:src="@{/admin/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/admin/js/article.js}"></script>
</th:block>
</html>